/* General Styling */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  margin: 0;
  font-size: 24px;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ff9800;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 16px;
  width: 200px;
}

.search-form button {
  padding: 8px 16px;
  background-color: #ff9800;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #f57c00;
}

/* Home and Search Results Page */
.home-container,
.search-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Adjust margin as needed */
}

.home-title,
.search-results-title {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.movies-container,
.search-results-movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card,
.search-result-card {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.movie-card:hover,
.search-result-card:hover {
  transform: translateY(-5px);
}

.movie-link,
.search-result-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster,
.search-result-poster {
  width: 100%;
  border-radius: 8px;
}

.movie-title,
.search-result-title {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
}

/* Movie Details */
.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.movie-details h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.movie-poster {
  width: 100%;
  max-width: 500px; 
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.movie-details p {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 20px;
}

.youtube-video {
  width: 100%; 
  max-width: 800px; 
  margin-top: 20px;
}

.movie-details:hover {
  transform: translateY(-5px);
}


/* Footer */
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

/* Responsive Styling */
@media (max-width: 550px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav-links li {
    margin-right: 0;
    margin: 10px;
  }

  .search-form {
    flex-direction: column;
    width: 100%;
  }

  .search-form input[type="text"] {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .home-container,
  .search-results-container {
    margin-top: 20px;
    padding: 0 10px;
  }

  .movies-container,
  .search-results-movies-container {
    flex-direction: column;
    align-items: center;
  }

  .movie-card,
  .search-result-card {
    width: 100%;
    max-width: 300px;
  }
}
